$colors: ( /* SASS MAP is like an object */
    gray:#566270,
    turquoise: #55CCC3,
    green: #C8F26E,
    lightpink: #FD6C6E,
    darkpink: #C24E5A,
    yellow: #ffd23f
);
@function color($color-name){ /* Function named color to get information from MAP */
    @return map-get($colors, $color-name)
  }

  $xLargeDesktop: 2900px;
  $largeDesktop: 2450px;
  $mediumDesktop: 2000px;
  $smallDesktop: 1700px;
  $mediumLaptop: 1500px;
  $smallLaptop: 1100px;
  $tablet: 800px;
  $mobile: 451px;
  $mobileMax: 450px;
  
  @mixin xLargeDesktop{
    @media (min-width: #{$xLargeDesktop}){
      @content;
    }
  }
  
  @mixin largeDesktop{
    @media (min-width: #{$largeDesktop}){
      @content;
    }
  }
  @mixin mediumDesktop{
    @media (min-width: #{$mediumDesktop}){
      @content;
    }
  }
  @mixin smallDesktop{
    @media (min-width: #{$smallDesktop}){
      @content;
    }
  }
  @mixin mediumLaptop{
    @media (min-width: #{$mediumLaptop}){
      @content;
    }
  }
  @mixin smallLaptop{
    @media (min-width: #{$smallLaptop}){
      @content;
    }
  }
  @mixin tablet{
    @media (min-width: #{$tablet}){
      @content;
    }
  }
  @mixin mobile{
    @media (min-width: #{$mobile}){
      @content;
    }
  }
  @mixin mobileMax{
    @media (max-width: #{$mobileMax}){
      @content;
    }
  }

.project{
  overflow: hidden;
}
  
.patternA{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 15rem;
  @include mobileMax{
    grid-auto-rows: 10rem;
  }
  @include smallDesktop{
    grid-auto-rows:20rem;
  }
  @include mediumDesktop{
    grid-auto-rows:24rem;
  }
  @include largeDesktop{
    grid-auto-rows: 33rem;
  }
  @include xLargeDesktop{
    grid-auto-rows: 35rem;
  }
  div:nth-child(2){
    background: color(green);
  }
  div:nth-child(3){
    background: color(turquoise);
  }
  div:nth-child(5){
    background: color(yellow);
  }
  div:nth-child(6){
    background: color(lightpink);
  }
}

.workA1{
  grid-column: 2/3;
  grid-row: 1/2;
}
.workA2{
  grid-column: 4/5;
  grid-row: 1/2;
}
.workA3{
  grid-column: 3/4;
  grid-row: 2/3;
}
.workA4{
  grid-column: 1/2;
  grid-row: 3/4;
}
.workA5{
  grid-column: 4/5;
  grid-row: 3/4;
}


.patternB{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 15rem;
  @include mobileMax{
    grid-auto-rows: 10rem;
  }
  @include smallDesktop{
    grid-auto-rows:20rem;
  }
  @include mediumDesktop{
    grid-auto-rows:24rem;
  }
  @include largeDesktop{
    grid-auto-rows: 33rem;
  }
  @include xLargeDesktop{
    grid-auto-rows: 35rem;
  }
  div:nth-child(1){
    background: color(green);
  }
  div:nth-child(2){
    background: color(turquoise);
  }
  div:nth-child(4){
    background: color(yellow);
  }
  div:nth-child(5){
    background: color(lightpink);
  }
}

.workB1{
  grid-column: 2/3;
  grid-row: 1/2;
}
.workB2{
  grid-column: 1/2;
  grid-row: 2/3;
}
.workB3{
  grid-column: 3/4;
  grid-row: 2/3;
}